## 
## PROJECT:   Mouri Internal Library Essentials
## FILE:      .gitignore
## PURPOSE:   The .gitignore file for Mile.UniversalCRT folder
## 
## LICENSE:   The MIT License
## 
## MAINTAINER: MouriNaruto (Kenji.Mouri@outlook.com)
## 

##
## Ignore Mile.UniCrt.Build.Tasks.dll which convenience for debugging.
## 
Mile.UniCrt.Build.Tasks.dll

##
## Include pregenerated object files.
## 
!*.obj
